@{
    ViewBag.Title = "Error Authorizing";
}


    <title>@ViewBag.Title</title>





    <div class="container">

        <div class="alert">
          
            <strong>Sorry</strong> YOU ARE NOT AUTHORIZED TO USE THIS SOFTWARE.

        </div>


    </div>













