<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>


    <add key="EmailId" value="silverlightjashmin@gmail.com" />
    <add key="Password" value="jashmin86527" />
    <add key="Smtp" value="smtp.gmail.com" />
    <add key="port" value="587" />

    
    
  </appSettings>
  
</configuration>