<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EmailId" value="silverlightjashmin@gmail.com" />
    <add key="Password" value="jashmin86527" />
    <add key="Smtp" value="smtp.gmail.com" />
    <add key="port" value="587" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <add key="servername" value=""/>
    <add key="serveruser" value=""/>
    <add key="serverpassword" value=""/>
    <add key="serverip" value=""/>
    <add key="folderpath" value=""/>
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>